
COproj/Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.dylib
COproj/Library/PackageCache/com.meta.xr.simulator@60.0.0/MetaXRSimulator/.synth_env_server/synth_env_server_Data/sharedassets3.assets
